__pycache__
*.pyc
output.log
.DS_Store
test.db
.env
GIT_SHA
engine/monster/engine/tools/.#admin_tool.py
engine/monster/engine/.#all_tools.py
dashboard/monster/dashboard/.#images.py
engine/monster/engine/tools/.#tool_factory_builder.prompt
engine/monster/engine/tools/.#zap_tool.py
engine/supercog/shared/**
dashboard/supercog/shared/**
**/*.pem
.vscode
.terraform*
terraform.tfstate
engine/storage
engine/venv