OPENAI_API_KEY=
CLAUDE_INTERNAL_API_KEY=
# Optional vars
GOOGLE_CLIENT_ID=skip
GOOGLE_CLIENT_SECRET=you-need-to-generate-your-own

# Edit if you want Postgres to store data somewhere other than the default location
SUPERCOG_DATA=${HOME}/supercog_data

# SUPERCOG ENVIRONMENT VARIABLES: DO NOT CHANGE
ENV=dev
ENGINE_URL=http://localhost:8080
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://${USER}:@localhost:5432/dbname
PGVECTOR_DB_URL=postgresql://${USER}:@localhost:5432/monster_rag
S3_PUBLIC_BUCKET=images-bucket
S3_FILES_BUCKET_NAME=files-bucket
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_KEY=miniosecret
AWS_ENDPOINT_WRITE_URL=http://localhost:9002
AWS_ENDPOINT_READ_URL=http://localhost:9002
MINIO_API_PORT_NUMBER=9002
MINIO_CONSOLE_PORT_NUMBER=9003
SKIP_EMAIL_VERIFICATION=1
DASH_PRIVATE_KEY=LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU1BQTFqL2lZZkl5RENySkYveW9pYVpkeERxUVFadTdEVy9lN0VFOVArZ1lvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFek5teXBwTzI4dmFaV0RFazdXNFA4dUVPbEZNQ1I2NU9nYVRhVEI5N0I3cjBFeDRra2ZmKwpwcis2SnRFMFhaODJnTEJpU2ZONURVeEFPNDRSZUxpRTBBPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
DASH_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFek5teXBwTzI4dmFaV0RFazdXNFA4dUVPbEZNQwpSNjVPZ2FUYVRCOTdCN3IwRXg0a2tmZitwcis2SnRFMFhaODJnTEJpU2ZONURVeEFPNDRSZUxpRTBBPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
CREDENTIALS_MASTER_KEY=pDkATrykX5HxH6F2WBi1EzytM8H0o7ORh3TQYqhua2I=

